<%= form_with(model: [@project, @task]) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-4">
    <h5>Nome</h5>
    <%= form.text_field :name, class:"form-control"  %>
  </div>

  <div class="field form-group mb-4">
    <h5>Descrição</h5>
    <%= form.text_area :description, class:"form-control"  %>
  </div>

  <div class="field mb-4">
    <h5>Data de Inicio</h5>
    <%= form.date_select :start_date %>
  </div>

  <div class="field mb-4">
    <h5>Data de Término</h5>
    <%= form.date_select :end_date %>
  </div>

  <div class="field mb-4">
    <h5>Status</h5>
    <%= form.select :status, Task::STATUS_OPTIONS %>
    
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm mt-3" %>
  </div>


<% end %>
