<footer class="container-fluid text-center" style="background-color:#1d75a7">
    <div class="row mt-3">
        <div class="col-sm-4">
            <h3> Entre em contato</h3>
            <h4>Nosso endereço e informações de contato</h4>
        </div>
        <div class="col-sm-4">
            <h3>Siga nas redes sociais</h3>
            <a href="#"><%= image_tag("1350125.png", size: "27x27", :alt => "1350125 feed") %></a>
            <a href="#"><%= image_tag("174855.png", size: "27x27", :alt => "174855 feed") %></a>
            <a href="#"><%= image_tag("linkedin.png", size: "27x27", :alt => "174855 feed") %></a>
            <a href="#"><%= image_tag("twitter.png", size: "27x27", :alt => "twitter feed") %></a>
        </div>
        <div class="col-sm-4">
            <%= image_tag("imagemfooter.png", size:"186x133", :alt => "twitter feed") %>
        </div>

    </div>

</footer>