<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href=".\app\assets\stylesheets\home.scss" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
   
    <title>Projectmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <!-- Inclusão do menu de navegação -->
    <div>
    <%= render 'home/header' %>
    </div>
  
    <!-- Inclusão do style das Alerts -->
    <% if notice %>
      <div class="container mt-3">
         <%= render 'layouts/alertwarn'%>
      </div>
    <% end %>

     <!-- Inclusão do conteúdo de cada página -->
    <div>
    <%= yield %>
    </div>

       <!-- Inclusão do Footer -->
    <div>
    <%= render 'home/footer' %>
    </div>
  </body>
</html>
